.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.submit-button {
    background: rgb(0,150,136);
    height: 30px;
    color: white;
}
.submit-button:hover {
  background: white;
  color: black;
}
.text-input {
    height: 30px;
    width: 200px;
}
pre {padding: 5px; margin: 5px; margin-top: 20px; width: 80%;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: black; }

.indent {margin-left: 25px;}
.overflow {
    overflow: scroll;
}
.endpoint {
    width: 300px;
}
.card {
  /* Add shadows to create the "card" effect */
  margin-top: 15px;
  padding-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
