<!DOCTYPE html>
<html lang="en">
<title>PCDE Client</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/comreq.js"></script>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<script>
    $(function(){
      $("#includedContent").load("/static/header.html");
    });
</script>
<body>

<div id="includedContent"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">PCDE Client</h1>
      <p>This server provides a client for interacting with the <a href="https://davinci-pcde-ri.logicahealth.org/">Da Vinci Payer Coverage Decision Exchange Reference Implementation.</a></p>
      <p>To use a different part of the client click on one of links on the side menu.</p>
    </div>

  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">FHIR Endpoint</h1>
      <p>All requests are made to the endpoint: <a href="https://davinci-pcde-ri.logicahealth.org/fhir/PCDE">https://davinci-pcde-ri.logicahealth.org/fhir/PCDE</a></p>
      <p>Note that this is not a traditional FHIR endpoint but is created as a custom endpoint to respond with the communication when a communication request is recieved</p>
      <p>To send a sample communication request that will receive a valid communication with the PCDE Bundle, the patient ID needs to be 14 and the Organization IDs should be 16 and 17</p>
    </div>

  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Make Communication Request</h1>
        <form>
            Patient ID:<br>
          <input id="pid" type="text" name="patient" placeholder="enter the id"><br>
            Sender ID:<br>
          <input id="sid" type="text" name="sender" placeholder="enter the id"><br>
          Recipient ID:<br>
        <input id="rid" type="text" name="sender" placeholder="enter the id"><br>
        </form>
      <button id="gp" class="w3-hover-white submit-button" type="submit" name="comreq">Send Communication Request</button>
    </div>

  </div>
  <div id="display" class="indent overflow"></div>
  <pre id="json"></pre>
  <br>
  <br>
  <br>
  <br>
  <footer id="myFooter" class="footer">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4></h4>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
