<!DOCTYPE html>
<html lang="en">
<title>PCDE Client</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/main.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/task.js"></script>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<script>
    $(function(){
      $("#includedContent").load("/static/header.html");
    });
</script>
<body>

<div id="includedContent"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">PCDE Client</h1>
      <p>This server provides a client for interacting with the <a href="https://davinci-pcde-ri.logicahealth.org/">Da Vinci Payer Coverage Decision Exchange Reference Implementation.</a></p>
      <p>To use a different part of the client click on one of links on the side menu.</p>
    </div>

  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">FHIR Endpoint</h1>
      <p>All requests are made to the endpoint: <input id="url" class="text-input endpoint" type="text" name="" value="https://davinci-pcde-ri.logicahealth.org/fhir/" placeholder="https://davinci-pcde-ri.logicahealth.org/fhir/"></p>
    </div>

  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Authorization</h1>
      If you want to skip this step leave the following fields blank
      <table>
        <tr><td><p class="w3-text-teal">Token URL</p></td><td><input id="turl" class="text-input" type="text" name="" value="" placeholder="enter the token url"></td></tr>
        <tr><td><p class="w3-text-teal">Client Id</p></td><td><input id="cid" class="text-input" type="text" name="" value="" placeholder="enter the client id"></td></tr>
        <tr><td><p class="w3-text-teal">Client Secret</p></td><td><input id="cs" class="text-input" type="text" name="" value="" placeholder="enter the client secret"></td></tr>
      </table>
      <form>
        <h1 class="w3-text-teal">PCDE Task Creation</h1><br>
        <table>
        <tr><td><p class="w3-text-teal">Patient UMB</p></td><td><input id="umb" class="text-input" type="text" name="" value="" placeholder="enter the umb for the patient"></td></tr>
        </table>
        <div><button id="send-task" class="w3-hover-white submit-button" type="submit" name="task">Send Task</button></div>
        <h1 class="w3-text-teal">Subscribe to the Task</h1>
        <div><p class="w3-text-teal">Use the following for Subscription</p></div>
        <table>
        <tr><td><p class="w3-text-teal">Task Id</p></td><td><input id="task-id" class="text-input" type="text" name="" value="" placeholder="enter the task id to poll"></td></tr>
        </table>
        <div><button id="subscribe" class="w3-hover-white submit-button" type="submit" name="sub">Subscibe to Task</button></div><br>
        <div><button id="check-task" class="w3-hover-white submit-button" type="submit" name="ctask">Check for Task</button></div>
        <h1 class="w3-text-teal">Poll the Task</h1>
        <div><p class="w3-text-teal">Use the following for Polling</p></div>
        <div><button id="poll-task" class="w3-hover-white submit-button" type="submit" name="poll">Poll Task</button></div>
      </form>
    </div>


  </div>
  <div id="display" class="indent"></div>
  <br>
  <br>
  <pre id="json"></pre>
  <br>
  <br>
  <br>
  <br>
  <footer id="myFooter" class="footer">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4></h4>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
